* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
}

.logo {
  font-size: 2em;
  color: #000;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #000;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #000;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnOrder {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #000;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #000;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navigation .btnOrder:hover {
  background: #000;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.content {
  margin-top: 75px;
}

.willGrow p {
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  transform-origin: center;
  cursor: pointer;
}

.willGrow p:hover {
  transform: scale(1.3);
}

.placeholder {
  margin-top: 20px;
  font-size: 1.2em;
  color: #555;
}

.vtuber-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 250px;
  height: auto;
}

.vtuber-container video {
  width: 100%;
  height: 100%;
}
